
body {
  background-color: #fff;
  color: #000;
}

header {
  background-color: #000;
  color: #fff;
  margin-bottom: 40px;
  font-family: Oswald;
}

header h1 {
  padding-top: 10px;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  font-size: 56px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  font-size: 20px;
}


.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.item {
  flex: 1;
  align-content: center;
  margin: 0 10px;
}

.item-double {
  flex: 2;
  align-content: center;
}

h2 {
  font-family: Oswald;
  text-align: center;
  text-transform: lowercase;
  font-size: 40px;
  
}
.home-text {
  font-family: Roboto;
  text-align: center;
  letter-spacing: 1px;
}

.image {
  width: 100%;
}

.about {
  font-family: Roboto;
  letter-spacing: 1px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-title, .portfolio-title, .contact-title {
  font-family: Oswald;
  text-align: center;
  font-size: 30px;
  text-transform: lowercase;
}

.group {
  display: flex;
  flex-direction: column;
}

.group img {
  width: 100%;  
}

.portfolio h4 a {
  font-family: Oswald;
  font-weight: 200;
  font-size: 26px;
  text-transform: lowercase;
  text-decoration: none;
  color: #000;
}

.portfolio-text {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
}

.contact {
  background-color: #000;
  color: #fff;
}

.contact h3 {
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  display: block;
  font-family: Roboto;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 3px;
  margin-top: 5px;
  align-self: center;
}

input, textarea {
  width: 30%;
  align-self: center;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 14px;
}

textarea {
  height: 80px;
  margin-bottom: 5px;
}

button {
  width: 15%;
  align-self: center;
  margin-bottom: 5px;
  background-color: #fff;
  font-family: Roboto;
  border-radius: 5px;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  padding: 20px;
  font-size: 10px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  
}

@media all and (min-width: 600px) {

  header h1 {
    padding-left: 10px;
    padding-top: 30px;
    text-align: left;
  }
  
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
  }

  header nav ul li a:hover {
    font-size: 22px;
  }

   .home-text {
    margin-left: 20px;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
   }

   .image {
     margin-left: 10px;
   }

   .about {
     display: flex;
     flex-direction: row;
   } 

   .about-title {
     align-self: center;
   }

   .about-text {
     margin-right: 10px;
   }

  .group {
    flex-direction: row;
  }
   .portfolio h4 a:hover {
     font-size: 28px;
   }
   
   .footer a:hover {
     font-size: 20px;
   }
} 



